.linkheader {
  text-decoration: none;
  position: relative;
  display: inline-flex;
  color: #2f4f4f;
  background-color: red;
  border: 2px solid white;
  overflow: hidden;
  padding: 10px 20px;
  margin: 0;

  border-radius: 5px;
}

.linkheader:hover {
  color: white;
  background-color: tomato;
}

body {
  font-family: sans-serif;
  text-align: center;

  background-image: url("./ukraine.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  padding: 20px 10px;
}

.navigation {
  text-align: left;
}

.list-header {
  display: flex;
}

.list-item:not(:first-child) {
  margin-left: 30px;
}

.icon-before1 {
  position: absolute;
  top: 50%;
  left: 5px;
  display: block;

  fill: yellowgreen;

  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.list-link-home:hover .icon-before1 {
  transform: translateY(calc(-50% - 30px));
}

.icon-before2 {
  position: absolute;
  top: 50%;
  left: 5px;
  display: block;

  fill: white;

  transform: translateY(calc(50% + 20px));
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.list-link-home:hover .icon-before2 {
  transform: translateY(-50%);
}

.list-link-video {
  z-index: 2;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.list-link-video:hover {
  transform: scale(1.5);
}

.list-link-pen {
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.list-link-pen:hover {
  transform: rotate(90deg);
}

caption {
  padding: 10px;

  color: white;
  background-color: turquoise;

  width: 600px;
  font-size: 30px;
  margin-bottom: 30px;
  text-align: left;
  border-radius: 10px;
}

.tabel {
  border-collapse: collapse;
  /* Стилизация самиз рамок таблицы может быть еще collapse */
  /* border: 2px solid rgb(153, 51, 92); */
}

.tabel th,
.tabel td {
  border: 2px solid white;
  padding: 8px;
}

.tabel-body > tr:hover {
  background-color: tomato;
}

.link {
  border-bottom: auto;
  color: black;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: blue;
}

.list {
  list-style: none;
}
