.hero {
    padding: 40px 0;
}

.tabel {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;

    &__title {
        @include font(26px, 900, 1.7, 0.03em);
        color: $color-title-table;

        &--moving-bottom {
            margin-bottom: 30px;
        }
    }

    &__head {
    }

    &__main {
    }

    &__list {
    }

    &__item {
        max-width: 400px;
        transition: background-color 250ms linear, box-shadow 250ms linear;

        &--primery {
            @include font(18px, 700, 1.7, 0.03em);
        }

        &--secondary {
            @include font(16px, 400, 1.7, 0.03em);
        }

        &:hover,
        &:focus {
            background-color: $bgc-hover-header-link;
            box-shadow: 14px 15px 70px 19px rgba(71, 46, 46, 0.71);

            transition: background-color 250ms linear, box-shadow 250ms linear;
        }
    }

    &__link {
        &:hover,
        &:focus {
            color: $color-hover-link;
        }
    }
}

.tabel__item--primery,
.tabel__item--secondary {
    border: 2px solid $color-border;
    padding: 10px;
}
